.center{
 display:flex;
 justify-content: center;
 align-items:center;
}
.popup-holder {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup {
  border-radius: 5px;
  padding: 2rem;
  background-color: #456547;
  width: 20em;
  margin: auto;
  display: flex;
}
input {
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.submit-button {
  padding: 1rem;
  background-color: #113315;
  border:none;
  color: white;
  border-radius: 4px;
  display: flex;
}