.header-holder{
  position:sticky;
  top:0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background-color: #456547;
}

li {
  float: left;
  border-right:1px solid #ffffff;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #456547;
}

.active {
  background-color: #04AA6D;
}
.about{
  float:right;
}